<div class="container">
    <div class="user-list">
      <ul>
        <li *ngFor="let user of users" 
            (click)="selectUser(user)" 
            [class.selected]="selectedUser === user">
          {{ user.user_name }}
        </li>
      </ul>
    </div>
    <div class="chart-container">
      <h2>{{ selectedUser?.user_name }}'s Workout Progress</h2>
      <div style="display: block;">
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="true"
                [type]="chartType">
        </canvas>
      </div>
    </div>
  </div>