<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="toggle">
                <button class="toggle-btn" (click)="toggleSidebar()">
                    <i [ngClass]="{'fa-angle-double-right': !isSidebarOpen, 'fa-angle-double-left': isSidebarOpen}" class="fas"></i>
                </button>
                <h2>{{selectedName}}</h2>
                &nbsp;&nbsp;
                <div class="icon-label">
                    <i class="fas fa-home"></i>
                    <h5>Dashboard</h5>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-user-avatar-container">
                <div>
                    <h5>User</h5>
                </div>
                &nbsp;&nbsp;
                <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
                    <button  class="user-avatar"><b>U</b></button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
        <ul>
            <li  *ngFor="let item of userItems" cdkMenuItem>
                <a>
                    <i class="icon" [ngClass]="item.icon"></i>
                    <span>{{item.label}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>