.sidebar {
    background: #263238;
    transition: all .5s ease;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }
    }
}

.sidebar:hover {
    width: 250px; 
}
  
.sidebar-collapsed {
    width: 16.5625; 
}
  
.sidebar-collapsed:hover {
    width: 250px; 
}

.sidebar-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidebar-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidebar-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidebar-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidebar-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidebar-nav-item:hover {
        .sidebar-nav-link {
            background-color: #fff;
            color: #000;
        }
    }
}

.active {
    background-color: #fff;

    .sidebar-link-icon,
    .sidebar-link-text {
        color: #000;
    }
}

.menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: #f3f3f3;
}

/* scrollbar and visibility on hover and focus */

.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

.sidebar-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}